body {
  overflow: auto;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 3.75rem 0;
}

.section-title {
  text-align: center;
  padding-bottom: 1.875rem;
}

.section-title h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.125rem;
  height: 0.1875rem;
  background: var(--primary-dark);
  bottom: 0;
  left: calc(50% - 1.5rem);
}

.section-title p {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: var(--primary-gray);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  background: rgba(55, 64, 85, 0.9);
}

#header-nav {
  padding-right: 4rem;
}

.header-transparent {
  background: transparent;
}

.header-opaque {
  background: rgba(55, 64, 85, 0.9);
}

#header .logo {
  display: inline-block;
  font-size: 1.75rem;
  margin: 0;
  font-weight: 400;
  font-family: "Poppins";
  border-color: var(--white);
  border-width: 0.15rem;
  border-style: solid;
  padding: 0.4rem 0.6rem;
  color: var(--white);
}

#header .logo img {
  max-height: 2.5rem;
}

#header:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 1.75rem;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(45, 53, 69, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  text-align: center;
  padding-top: 3.125rem;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 0;
  }
}

#hero h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: var(--white);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#hero h2 {
  color: #eee;
  margin: 0.9rem 0 0 0;
  font-size: 1.375rem;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  transition: 0.5s;
  margin-top: 2.5rem;
  border: 0.2rem solid var(--white);
  color: var(--white);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#hero .btn-get-started:hover {
  cursor: pointer;
  background: var(--primary-dark);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  #hero h2 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio .portfolio-item {
  margin-bottom: 1.875rem;
  overflow: hidden;
}

.portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -3rem;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: var(--primary-dark);
  padding: 1rem 1.3rem;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 1.1rem;
  color: var(--white);
  font-weight: 600;
}

.portfolio .portfolio-item .portfolio-info p {
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 0;
}

.portfolio .portfolio-item:hover img {
  top: -2rem;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .php-email-form {
  box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
  padding: 2rem;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0.3rem;
  box-shadow: none;
  font-size: 0.875rem;
  min-height: 4rem;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--primary-gray);
}

.contact .php-email-form input {
  padding: 1.375rem 1rem;
  width: 100%;
}

.contact .php-email-form textarea {
  padding: 0.75rem 1rem;
  width: 100%;
}

.contact .php-email-form-button {
  border: 0;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  color: var(--white);
  border-radius: 50px;
  transition: 0.1s all ease-in-out;
}

.contact .php-email-form-button:hover {
  transform: translate(-0.4rem, -0.4rem);
  box-shadow: 0.2rem 0.2rem var(--black);
}

.contact .php-email-form-button:focus {
  outline: none;
}

.contact .php-email-form-success {
  margin: auto;
  width: max-content;
  font-size: 4rem;
  color: var(--success-dark)
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: var(--primary-gray);
  font-size: 0.8rem;
  background: #f4f5f8;
}

#footer .credits {
  padding-top: .3rem;
  font-size: .8rem;
}

#footer .social-links a {
  font-size: 1.1rem;
  display: inline-block;
  background: var(--primary-gray);
  color: var(--white);
  line-height: 1;
  padding: 0.5rem 0;
  margin-right: .3rem;
  border-radius: 50%;
  text-align: center;
  width: 2.25rem;
  height: 2.25rem;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: var(--primary-dark);
  text-decoration: none;
}
